# INEP Data Source
INEP_DATA_URL_BASE=https://download.inep.gov.br/microdados/

# AWS S3 (Se aplicável no futuro)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Google BigQuery (Se aplicável no futuro)
BIGQUERY_PROJECT_ID=

# Configurações Locais
DATA_DIR=./data
RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
